
/*стиль для каждого элемента на странице*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*стиль для блока из indet.html*/
#root {
    display: flex;
    justify-content: center;
}


/*стиль для класса, который в корне приложения*/
.App {
    width: 800px;

}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
 
.post-exit-active{
    animation: fade-out 500ms forwards ;
}
.post-enter-active{
    animation: fade-in 500ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(150px);
    }
}
